<section class="post-comments">
{% if site.comment.gitment %}
<div id="gitmentContainer"></div>
<link rel="stylesheet" href="https://github.com/davidsky11/davidsky11.github.io/blob/master/_plugins/gitment/default.css">
<script src="https://github.com/davidsky11/davidsky11.github.io/blob/master/_plugins/gitment/gitment.browser.js"></script>
<script>
var gitment = new Gitment({
    owner: 'davidsky11',
    repo: 'davidsky11.github.io',
    oauth: {
        client_id: '9570394191bcaa02e597',
        client_secret: 'e9f09cc4c6e46189cd106767afb17231d65006cc',
    },
});
gitment.render('gitmentContainer');
</script>
{% endif %}
</section>